@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300&display=swap');

/* reset */
html{
    font-size: 62.5%; 
}
body{
  font: 1.6rem sans-serif;
  font-family: 'Fira Sans Condensed', sans-serif;  
  margin: 0;
  overflow-x: hidden;
  font-weight: 200;
}
*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}
input,input[type="submit"], button{
    border: 0;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
}
fieldset{
    border: solid .1rem transparent;
}
button{
    background: transparent;
    font-size: inherit;
    border: 0;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
figcaption{
    display: none;

}
/*thème*/

main{
    padding: 6rem 0;
}

header{
  line-height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  z-index: 4;
  color: #fff;
}

header h1, nav{
    display: inline-block;
    vertical-align: middle;
    width: calc(100%/2);
}
header h1{
    text-align: center; 
}
nav ul{
    font-size: 0;
}
nav ul li{
    display: inline-block;
    width: calc(100%*2.25/10);
    font-size: 0;
    text-align: center;
}
nav ul li:last-of-type{
    width: calc(100%*1/10);
}
nav ul li a{
    text-transform: uppercase;
    font-size: initial;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 200;
}
nav ul li button{
    color: #fff;
    font-size:xx-large;
    height: 100%;
    width: 100%;
    align-self: center;
}
nav ul li:hover{
    background-color: #fff;
}
nav ul li:hover a, nav ul li:hover button{
    color: #222;
    
}
.home_screen{
    padding: 0;
    margin: 0;
    background: url(../asset/philipp-katzenberger-iIJrUoeRoCQ-unsplash.jpg);
    background-size:cover;
    background-origin: border-box;
    height: 100vh;
    width: 100vw;
}
h2 {
    margin-left: 5%;
    padding-top: 5%;
    border-bottom: solid 0.1rem;
    width: fit-content;
    height: fit-content;
}
.home_screen h2{
    padding-top: 15%;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;   
}
.home_screen * {
    color: #fff;
    text-align: center;
    line-height: 6rem;
}
.comp{
    background-color: beige;
    height: 100vh;
    width: 100vw;
}
.comp ul{
    margin: 10% 10%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
    
}
.comp .qualities, .comp .lang{
    margin: 5% 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    text-align: center;
    
}
.comp .lang{
    grid-template-columns: repeat(2,1fr);
}

.comp ul img{
    object-fit: contain;
    filter:grayscale(100%);
}

.exp{
   background: url(../asset/alex-rodriguez-VR-wUq_JYAk-unsplash.jpg);
   background-size:cover;
   background-origin: border-box;
   height: 100vh;
   width: 100vw;
   color: #fff;
}

.exp .split{
    margin: 5% 10%  ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
}
.exp li{
    line-height: 4rem;
}
.contacts{
    text-align: center;
}
.contacts h2{
    margin-left: auto;
    margin-right: auto;
}
.contacts ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    line-height: 6rem;
}

footer{
    max-width: 100%;
    text-align: center;
    color: #222;
    height: 90vh;
    
}
.dark-mode{
    filter: invert(1);
}

